///////////////////////////////////////////////////////////
//  System16/s16/src/scss/pre/_colours.scss              //
///////////////////////////////////////////////////////////
//
//
//


    $default-fg:                        rgba(164, 255, 160, 1);
    $default-bg:                        rgba(0, 0, 0, 1);

    $cell-fg:                           $default-fg;
    $cell-bg:                           $default-bg;

    