///////////////////////////////////////////////////////////
//  System16/s16/src/scss/pre/_fonts.scss                //
///////////////////////////////////////////////////////////
//
//
//


    $default-font:                      vt323, monospace;
    $default-font-size:                 22px;

    $header-font:                       IBM Plex Mono, monospace;
    